<template id="temp">
    <style>
        button{
            background-color: purple;
            color: white;
            margin 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            border: 2px solid magenta;
        }
    </style>
    <!-- Add HTML for your component here.
    Try adding <content></content> to project from the light DOM -->

    <button>Other Button</button>

</template>


    <script type="text/javascript" src="customElement.js"></script>
    <script type="text/javascript">
        createElement("other-button", "temp");
    </script>